.border{
    border: 2px solid red;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.iteam-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-gray{
    background-color: #121212;
    color: white;
}

.invert{
    filter: invert(1); 
    /* this change image color */
}

.rounded{
    border-radius: 7px;
}

.m1{
    margin: 7px;
}

.p1{
    padding: 10px;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px;  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #444; /* Dark gray scrollbar */
    border-radius: 10px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Lighter gray on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #1a1a1a;
}
